/** {*/
/*    border: 1px red solid;*/
/*}*/

/*.row, .col {*/
/*    border: 1px red solid;*/
/*}*/

/*** GLOBAL STYLES ***/

:root {
    --black: #2A3131;
    --grey: #d9d9d9;
    --md-teal: #2BB2AD;
    --drk-teal: #008883;
    --lt-orange: #FF9059;
    --drk-orange: #FF9059;
    --lt-tan: #faf8f6;
    --md-tan: #EBE5E1;
    --drk-tan: #d8ccc5;
    --bs-accordion-btn-focus-border-color: #fff !important;
}

.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
    border: 1px solid var(--drk-tan);
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--lt-tan);
    color: var(--black);
    font-size: 1.1rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Merriweather, Serif;
    color: var(--drk-teal);
}

.home-blog h5,
.pet-card h4,
.type-dog-banner h1,
.type-cat-banner h1,
.home-header-text h1,
.process-banner h1,
.donate h3,
.donate h1,
.recent-posts h4{
    color: var(--black);
}
.pet-card h6{
    color: #fff;
}

main a,
main a:hover,
.breadcrumb a{
    color: var(--drk-orange);
    text-decoration: none;
}

.process-header-text a {
    color: var(--drk-teal);
    text-decoration: none;
}

.process-nav{
    top: 71px;
    z-index: 4;
}
.top-nav-process{
    z-index: 5;
}


/* topnav */

.navbar li a {
    color: var(--black);
}

/* button styles */
.btn-styles {
    padding: 8px 24px;
    border-radius: 5px;
    background-color: var(--black);
    color: #fff;
    /*letter-spacing: .05em;*/
    cursor: pointer;

}

.btn-styles:hover {
    background-color: var(--md-teal);
}

.form-control {
    border: 1px solid var(--grey);
}

/* asset styles */
#dot {
    max-width: 8px;
}

#footer-logo {
    max-width: 205px;
}

#dog-icon {
    max-width: 20px;
    fill: var(--black);
}

#cat-icon {
    max-width: 22px;
    fill: var(--black);
}

/* footer styles */
footer {
    background-color: var(--drk-tan);
}

.footer-contact h4{
    color:var(--black);
}

.footer-cat-icon {
    margin-left: 8px;
}

.footer-icon-text {
    display: block;
}

.footer-donate {
    position: relative;
    background-color: var(--md-tan);
}

.footer-donate:before{
    position: absolute;
    content: url("assets/lt-tan-triangle.svg");
    top:0;
    left: calc(50% - 24px);
    width: 48px;
}

.process-footer .footer-donate:before{
    position: absolute;
    content: url("assets/white-triangle.svg");
    top:0;
    left: calc(50% - 24px);
    width: 48px;
}

.footer-donate form{
    max-width: 300px;
}

.donate form {
    max-width: 400px;
}

.footer-donate h2,
.footer-contact h5 a,
.footer-contact h5,
.donate h2{
    text-decoration: none;
    color: var(--black);
}


/*** HOME STYLES ***/

.header-img {
    display: none;
}

.header-text {
    text-align: center;
}

.home-mission,
.home-banner,
.adoption-impact,
.process-banner,
#policy,
.faq-accordian,
.team-about-section{
    width: 90%;
    margin: 0 auto;
}

.home-mission-img {
    border-radius: 250px 250px 5px 5px;
    border: 10px solid white;
    border-bottom: 40px solid #fff;
    box-shadow: var(--grey) 0px 0px 0px 1px inset, var(--grey) 0px 0px 0px 1px;
    width: 100%;
    z-index: 0;
}

.home-mission-col {
    position: relative;
}

.home-mission-col:before {
    content: url('assets/short-tape.svg');
    display: block;
    opacity: .85;
    z-index: 1;
    position: absolute;
    top: -20px;
    left: calc(50% - 50px);
    width: 100px;
}



.featured-right,
.featured-left {
    display: flex;
    justify-content: center;
}


.pet-card {
    border: 1px solid var(--grey);
    max-width: 300px;
    border-radius: 20px;
    /*box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;*/
}

.pet-card img {
    border-radius: 5px;
}

.pet-description{
    margin: 10px;
}

.gender-label,
.age-label,
.breed-label {
    margin-bottom: 0;
    margin-right: 5px;
    margin-left: 5px;
    color: var(--drk-teal);
    font-weight: bold;
    justify-content: flex-end;
}

.gender,
.age,
.breed {
    margin-bottom: 0;
    color: var(--lt-orange);
    justify-content: flex-start;
}

.get-involved-card,
.blog-card-section{
    width: 90%;
    margin: 0 auto;
}

.get-involved-card div,
.home-blog{
    background-color: var(--lt-tan);
    border: 1px solid var(--grey);
    /*box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;*/
    position: relative;
}

.home-blog img {
    max-width: 250px;
}

.home-blog {
    background-color: #fff;
    margin: 0 auto;
}

.middle-card {
    width: 100%;
}

.home-blog div {
    background-color: #fff;
    border: none;
}

.info-card {
    position: relative;
}

.info-card:before {
    position: absolute;
    content: url("assets/long-tape.svg");
    opacity: .75;
    width: 50%;
    top: -10%;
    left: 25%;
    z-index: 1;
}

/**/


/*** ADOPT STYLES ***/

.adopt-banner {
    min-height: 250px;
}
.pet-card{
    position: relative;
    margin-top: 5px;
}
.featured-pet-bg{

    position: absolute;
    background-color: var(--drk-teal);
    border-radius: 5px;
    top: -25px;
}

.impact-image {
    display: block;
    position: relative;
    z-index: 1;
}

.impact-image:after {
    position: absolute;
    display: block;
    content: '';
    background: no-repeat url("assets/adopt-impact-3.svg") center;
    width: 90%;
    top: 15px;
    bottom: 15px;
    left: 35px;
    z-index: -1;
}

.impact-talk {
    display: block;
    position: relative;
}

.impact-talk:before {
    content: url('assets/talk-shape-right.svg');
    position: absolute;
    width: calc((1.325rem + .9vw));
    top: 5%;
    left: 95%;
    z-index: 2;
}

.impact-talk:after {
    content: url('assets/talk-shape-right.svg');
    position: absolute;
    width: calc((1.325rem + .9vw));
    bottom: -5%;
    right: 90%;
    transform: rotate(180deg);
}


/*** ADOPT TYPE  ***/

.type-dog-banner,
.type-cat-banner{
    background-color: var(--md-teal);
    position: relative;
    z-index: 0;
}

.type-cat-banner {
    background-color: var(--lt-orange);
}

.type-dog-banner:after,
.volunteer-banner:after {
    content: url("assets/triangle-teal.svg");
    position: absolute;
    width: 48px;
    bottom: -29px;
    left: calc(50% - 24px);

}
.type-cat-banner:after,
.blog-banner:after {
    content: url("assets/triangle-orange.svg");
    position: absolute;
    width: 48px;
    bottom: -29px;
    left: calc(50% - 24px);
    z-index: 1;
}

.type-header-span {
    color: #fff;
}

.type-header-img,
.type-cat-header-img{
    justify-content: center;
}

.type-header-img img,
.header-img img{
    max-width: 300px;
}

.type-cat-header-img img{
    max-width: 350px;
}

.type-header-text,
.type-cat-header-text{
    text-align: center;
}

.adopt-breadcrumb {
    margin-top: 50px;
    justify-content: center;
}

.search-filters {
    background-color: white;
    border: 1px solid var(--grey);
}

.pet-gallery {
    width: 80%;
    margin: 0 auto;
}

/*** ADOPTION PROCESS ***/
.process-banner {
    position: relative;
    margin-bottom: 48px;
}

.process-banner:after {
    content: url("assets/lt-tan-triangle.svg");
    position: absolute;
    width: 48px;
    bottom: -29px;
    left: calc(50% - 24px);

}

.process-num {
    align-self: center;
    position: absolute;
    top: -50px;
    z-index: 1;
}

.get-involved-card .process-num{

    background-color: var(--lt-orange);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.process-text {
    margin-top: calc((1.325rem + .9vw) * (-1.5));
    text-align: center;
}

.process-card {
    max-width: 300px;
    position: relative;
    flex-direction: column;
}

.process-banner img {
    height: 72px;
}

.process-banner .num {
    display: none;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
}

.process-nav a {
    font-weight: normal;
}
.process-nav li {
    color: var(--drk-teal);
}

.get-involved-card .process-num,
.get-involved-card .process-text {
    box-shadow: none;
}

.process-num {
    align-self: center;

}

.process-text {
    text-align: left;
}


#myTabContent {
    background-color: #fff;
    border: 1px solid var(--grey);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
}

.policy-body button {
    color: var(--black);
}

.accordion-button:not(.collapsed){
    color: var(--black) !important;
    background-color: #fff !important;
    border: none !important;
}

.accordion-button:focus {
    border-color: var(--bs-accordion-btn-focus-border-color);
}

.contact-card {
    background-color: var(--lt-tan);
    border: 1px solid var(--grey);
    border-radius: 20px;
}

/*** VOLUNTEER STYLES ***/
.volunteer-banner {
    position: relative;
    background-color: var(--md-teal);
}

.volunteer-banner h1 {
    color: var(--black);
}

.volunteer-banner img {
    max-height: 72px;
}

.volunteer-card {

    border-radius: 20px;
    background-color: var(--lt-tan);
    border: 1px solid var(--grey);
    /*box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;*/
}



.volunteer-spotlight img{
    max-width: 150px;
    border-radius: 50%;
}

.team img{
    width: 250px;
}

.volunteer-span {

    border-bottom: 3px solid var(--drk-orange);
}

.volunteer-spotlight h4 {
    color: var(--black);
}

/*** ABOUT STYLES ***/
.about-heading {
    color: var(--black);
}

.about-header-bg,
.about-header{
    position: relative;

}

.about-header-bg:before{
    position: absolute;
    display: block;
    content: '';
    background: no-repeat url("about/img/about-header-shape.svg") center;
    width: 100%;
    height: 180%;
    top: -15px;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.about-header:after {
    content: url('about/img/arrow-right.svg');
    position: absolute;
    width: 70px;
    left: 60%;
    bottom: 0;
    top: 100%;
    z-index: -2;
}

.arrow-left {
    background-color: var(--lt-tan);
    position: relative;
    z-index: -3;
}

.arrow-left:after{
    content: url('about/img/center-arrow.svg');
    position: absolute;
    width: 50px;
    left: 75%;
    top: 100%;
    transform: rotate(-10deg);
    z-index: -4;
}

.arrow-right{
    position: relative;
    background-color: var(--lt-tan);
}
.arrow-right:after{
    content: url('about/img/arrow-right.svg');
    position: absolute;
    width: 70px;
    left: 60%;
    bottom: 0;
    top: 90%;
}

.sadie{
    border-radius: 250px 250px 5px 5px;
    border: 10px solid white;
    border-bottom: 40px solid white;
    box-shadow: var(--grey) 0px 0px 0px 1px inset, var(--grey) 0px 0px 0px 1px;
}

.contact-img {
    border-radius: 250px 250px 5px 5px;
}

.rainbow {
    max-width: 350px;
}

.team-img-top-margin{
    margin-top: 41.64px;
}

/*** CONTACT STYLES ***/
.contact-img {
    max-width: 300px;
}

.contact-form {
    background-color: #fff;
    border: 1px solid var(--grey);
    border-radius: 20px;
}

.contact-section{
    width: 90%;
    margin: auto;
}

/*** BLOG STYLES ***/
.sidebar{
    display:none;
}

.blog-banner img {
    max-width: 84px;
}
.blog-banner{
    background-color: var(--lt-orange);
    position: relative;
}

.blog-banner h1 {
    color: var(--black);
}

.sidebar{
    margin-left: auto;
}



.blog-post-card {
    width: 85%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid var(--grey);
    border-radius: 20px;
    /*box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;*/
}

.recent-post-title{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

/*.blog-posts img {*/
/*    max-width: 250px;*/
/*}*/
.blog-post-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*** BLOG POST STYLES ***/

.blog-post-header h1 {
    color: var(--black);
}

.blog-contents {
    border: 1px solid var(--grey);
    border-radius: 20px;
    background-color: var(--lt-tan);
}

.blog-contents h4{
    color: var(--black);
}

.blog-line {
    border-top: 3px solid #008883;
    opacity: 1;
}

#one h4 {
    color: var(--drk-teal);
}

.blog-num {
    background-color: var(--lt-orange);
    border-radius: 50%;
}

#two img {
    max-width: 300px;
}

#three-img {
    max-width: 100%;
}

/*** DONATE STYLES ***/
.donate {
    background-color: var(--lt-orange);
}

.donate-header {
    position: relative;
}

.donate-header:after {
    position: absolute;
    content: url("assets/triangle-orange.svg");
    top: 100%;
    left: calc(50% - 24px);
    width: 48px;
}

.donate-form{
    background-color: var(--lt-tan);
}

.donate-header img{
    max-width: 200px;
}

/*** MEDIA QUERIES ***/

@media (max-width: 380px) {
    .footer-icon-text {
        display: none;
    }
}

@media (max-width: 575px) {
    .home-blog {
        flex-direction: column;
        max-width: 250px;
    }


}
 @media (min-width: 620px) {
     .process-banner .num {
         display: flex;
     }


      }

         @media (min-width: 576px) and (max-width: 767px){
             .impact-talk:before {
                 content: url('assets/talk-shape-right.svg');
                 position: absolute;
                 width: calc((1.325rem + .9vw));
                 top: 5%;
                 left: 80%;
                 z-index: 2;
             }
         }



     /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .home-mission-img,
    .impact-image img{
        width: 75%;
        margin: 0 auto;
    }




    .get-involved-card {
        width: 90%;
        margin: 0 auto;
    }


    #footer-logo {
        align-self: flex-start;
    }

    .footer-cat-icon {
        margin-left: 0;
    }


    .volunteer-card {
        /*width: 90%;*/
        /*margin: 20px auto;*/
    }

    .about-header:after {
        content: url('about/img/arrow-right.svg');
        position: absolute;
        width: 70px;
        left: 60%;
        bottom: 0;
        top: 80%;
        z-index: -2;
    }



}

@media (min-height: 800px){
    .about-header:after {
        content: url('about/img/arrow-right.svg');
        position: absolute;
        width: 70px;
        left: 60%;
        bottom: 0;
        top: 80%;
        z-index: -2;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .home-mission-img,
    .impact-image img{
        width: 100%;
        margin: 0 auto;
    }


    .get-involved-card {
        width: 90%;
        margin: 0 auto;
    }


    .featured-left {
        display: flex;
        justify-content: flex-end;
    }

    .featured-right {
        display: flex;
        justify-content: flex-start;
    }

    .blog-card-section {
        width: 75%;
        margin: 0 auto;
    }

    .footer-donate:before{
        position: absolute;
        content: url("assets/drk-tan-triangle.svg");
        left:0;
        top: calc(50% - 24px);
        height: 48px;
        transform: rotate(-90deg);
    }

    .process-footer .footer-donate:before{
        position: absolute;
        content: url("assets/drk-tan-triangle.svg");
        left:0;
        top: calc(50% - 24px);
        height: 48px;
        transform: rotate(-90deg);
    }


    .header-img {
        display: block;
        position: relative;
    }

    .header-img:after {
        position: absolute;
        display: block;
        content: '';
        background: no-repeat url("assets/organic-shape.svg") center;
        width: 100%;
        top: -10px;
        bottom: -5px;
        left: 0;
        z-index: -1;
    }

    .header-talk-marks {
        display: block;
        position: relative;
    }

    .header-talk-marks:before {
        content: url('assets/talk-shape-right.svg');
        position: absolute;
        width: calc((1.325rem + .9vw));
        top: 5%;
        left: 90%;
    }

    .header-talk-marks:after {
        content: url('assets/talk-shape-right.svg');
        position: absolute;
        width: calc((1.325rem + .9vw));
        bottom: -5%;
        right: 90%;
        transform: rotate(180deg);
    }

    .header-talk-marks {

    }

    .header-img img,
    .process-header-img img{
        max-width: 250px;
    }

    .header-text {
        text-align: left;
    }

    .type-header-text {
        text-align: left;
    }
    .type-cat-header-text{
        text-align: right;
    }

    .type-header-img {
        justify-content: flex-end;
    }
    .type-cat-header-img {
        justify-content: flex-start;
    }

    .policy-heading {
        width: 75%;
        margin: 0 auto;
    }

    .volunteer-card-section {
    }

    .volunteer-card {
        width: 100%;
        margin: 20px;
    }
    .about-header:after {
        content: url('about/img/arrow-right.svg');
        position: absolute;
        width: 70px;
        left: 60%;
        bottom: 0;
        top: 65%;
        z-index: -2;
    }

    .arrow-left:after{
        content: url('about/img/center-arrow.svg');
        position: absolute;
        width: 50px;
        left: 50%;
        top: 100%;
        transform: rotate(15deg);
        z-index: -4;
    }

    .arrow-right:after{
        content: url('about/img/arrow-right.svg');
        position: absolute;
        width: 70px;
        left: 60%;
        bottom: 0;
        top: 90%;
        transform: rotate(-15deg);
    }

    .donate-header div{
        width: 75%;
        margin: 0 auto;
    }


}

@media (min-width: 900px){
    .arrow-right:after{
        width: 70px;
        left: 60%;
        bottom: 0;
        top: 75%;

    }

    .blog-posts img {
        max-width: 250px;
    }
    .blog-post-card {
        flex-direction: row;
        /*justify-content: center;*/
        /*align-items: center;*/
    }

    .blog-post-card div{
        margin-left: 24px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .featured-pet-header h2 {
        width: 75%;
        margin: 0 auto;
    }

    .blog-card-section {
        width: 90%;
        margin: 0 auto;
    }

    .home-blog {
        flex-direction: column;
        max-width: 250px;
    }

    .get-involved-card,
    .featured-pet-section,
    .adoption-impact,
    .volunteer-card-section{
        width: 75%;
        margin: 0 auto;
    }
    #process .get-involved-card {
        width: 90%;
        margin: 0 auto;
    }
    .policy-body {
        width: 75%;
        margin: 0 auto;
    }

    .about-header:after {
        content: url('about/img/arrow-right.svg');
        position: absolute;
        width: 70px;
        left: 60%;
        bottom: 0;
        top: 82%;
        z-index: -2;
    }

    .arrow-left:after{
        content: url('about/img/center-arrow.svg');
        position: absolute;
        width: 50px;
        left: 25%;
        top: 100%;
        transform: rotate(20deg);
        z-index: -4;
    }
    .arrow-right:after{
        width: 80px;
        left: 60%;
        bottom: 0;
        top: 65%;

    }

    .donate-header:after {
        position: absolute;
        content: url("assets/triangle-orange.svg");
        left: 97%;
        top: calc(50% - 24px);
        width: 48px;
        transform: rotate(-90deg);
    }

    .sidebar{
        display: block;
    }

    .recent-post-title{
        width: 85%;
        margin: 0 auto;
        text-align: left;
    }

}


/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { }

.process-card div {
    border: none;
    box-shadow: none;
}